{% extends "base.html" %} {% block content %}
<h2>Login</h2>
<form method="post">
  <label for="email">Email</label><br />
  <input
    type="email"
    id="email"
    required
    placeholder="nume@email.com"
    name="email"
  /><br /><br />
  <label>Password</label><br />
  <input name="password" type="password" /><br /><br />
  <button type="submit">Login</button>
</form>
<br />
<form action="{{ url_for('generate_reset_token') }}" method="post">
  <label for="email">Email-ul pentru resetarea parolei</label><br />
  <input
    type="email"
    id="email"
    required
    placeholder="nume@email.com"
    name="email"
  /><br /><br />
  <button type="submit">Am uitat parola</button>
</form>
{% endblock %}
